.generate-button {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.name-list {
  border: 1px solid black;
  border-radius: 8px;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr;
  margin: 1rem 0;
  padding: 1rem;

  & li {
    font-size: 1.25rem;
  }

  @media (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }
}
